beautifulsoup4==4.7.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cssselect==1.0.3
Flask==1.0.3
google==2.0.2
gsearch==1.6.0
httplib2==0.12.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.6.2
MarkupSafe==1.1.1
my-fake-useragent==0.1.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
requests==2.22.0
rsa==4.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
uritemplate==3.0.0
urllib3==1.25.3
Werkzeug==0.15.4
